*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
:root {
  --primary-color: #222120;
  --secondary-color: #f8f3ed;
  --gray: #faf5ef;
  --primary-font: "DM Sans";
  --secondary-font: "Prata";
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-color);
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.font-heading {
  font-family: var(--secondary-font);
  font-weight: 400;
}
.header {
  background-color: var(--primary-color);
  margin-bottom: 260px;
  &-top {
    padding: 3rem 0;
  }
  &-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-contact {
    font-size: 2.4rem;
    line-height: calc(32 / 24);
    color: white;
  }
  &-main {
    display: flex;
    align-items: center;
    padding-top: 15.5rem;
    gap: 3.2rem;
  }
  &-content {
    width: 100%;
    max-width: 72.5rem;
  }
  &-heading {
    font-size: 8rem;
    color: white;
    margin-bottom: 6.8rem;
    line-height: 1;
    letter-spacing: -1px;
    &-child {
      opacity: 0;
    }
    & > span {
      display: block;
    }
  }
  &-info {
    width: 100%;
    max-width: 40.7rem;
    margin-left: auto;
  }
  &-text {
    font-size: 2rem;
    color: white;
    margin-top: 4.7rem;
    opacity: 0.6;
  }
  &-img {
    transform: translate(0, 78px);
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 1.8rem;
  &-link {
    color: var(--gray);
    opacity: 0.4;
    text-decoration: none;
  }
}
// about
.about {
  padding-bottom: 150px;
  margin-bottom: 120px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
  }
  &-heading {
    font-size: 72px;
    line-height: calc(76 / 72);
    max-width: 400px;
    hyphens: auto;
    width: 100%;
  }
  &-desc {
    width: 100%;
    max-width: 638px;
    font-size: 24px;
    line-height: calc(34 / 24);
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 140px;
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 513px;
  }
  &-caption {
    font-size: 52px;
    line-height: calc(61 / 52);
  }
}
// project
