html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --section-spacing: 140px;
}
@media screen and (max-width: 1279px) {
  :root {
    --section-spacing: 70px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --section-spacing: 50px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #635f85;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  border-radius: 100rem;
  padding: 13px 32px;
  cursor: pointer;
}
.button--primary {
  color: white;
  line-height: 1.5;
  background: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
}
.button--secondary {
  color: #ff7d00;
  border: 2px solid #e7e7e7;
}

.global-caption {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.185em;
  display: block;
  color: #ff7d00;
}
.global-heading {
  color: #051441;
  font-weight: bold;
}
.global-heading--huge {
  font-size: 50px;
  line-height: calc(56 / 50);
}
.global-heading--big {
  font-size: 40px;
  line-height: calc(50 / 40);
}
.global-heading--normal {
  font-size: 21px;
  line-height: calc(31.5 / 21);
  font-weight: 600;
}
.global-text {
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #7f8ea1;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .global-heading--big {
    font-size: 30px;
  }

  .global-text {
    font-size: 14px;
  }
}
.toggle {
  margin-left: auto;
  display: none;
}

.navigation {
  padding: 30px 20px 40px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.auth {
  display: flex;
  gap: 0 13px;
  margin-left: 100px;
}

.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 38px;
  list-style: none;
}
.menu-link {
  color: inherit;
  position: relative;
  transition: all 0.2s linear;
  display: block;
}
.menu-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #ff7d00;
  width: 0;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: #ff7d00;
}
.menu-link:hover:before {
  width: 100%;
}

.header {
  padding-bottom: var(--section-spacing);
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
  position: relative;
}
.header-content {
  width: 100%;
}
.header-heading {
  margin: 18px 0 25px;
}
.header-desc {
  margin-bottom: 50px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 0 36px;
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 0 36px;
  color: #051441;
  font-weight: 500;
}
.watch-icon {
  width: 59px;
  height: 59px;
  border-radius: 100rem;
  background-color: white;
  box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header-image {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1024px) {
  .header-content {
    max-width: 496px;
  }
}
@media screen and (max-width: 1023px) {
  .auth {
    padding-left: 15px;
    margin-left: 0;
    margin-top: 25px;
  }

  .menu {
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99999;
    align-items: stretch;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-link {
    padding: 15px;
  }

  .header-main {
    flex-direction: column;
  }

  .toggle {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header-heading {
    font-size: 35px;
  }
  .header-actions {
    flex-direction: column;
    gap: 30px;
  }
}
.brand {
  background: #f4f7fd;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 55px;
  margin-bottom: var(--section-spacing);
}
@media screen and (max-width: 1023px) {
  .brand {
    gap: 0 20px;
    padding: 20px;
  }
}

.service {
  padding-bottom: 70px;
}
.service-header {
  text-align: center;
  margin-bottom: 73px;
}
.service-caption {
  margin-bottom: 25px;
}
.service-heading {
  max-width: 426px;
  margin: 0 auto 32px;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 33px;
}
.service-item {
  border: 2px solid #edeff7;
  border-radius: 13px;
  padding: 40px 45px 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s linear;
}
.service-item:hover {
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  border-color: transparent;
}
.service-item:hover .service-icon {
  background-color: #5a73e5;
}
.service-item:hover .service-icon img {
  filter: brightness(10);
}
.service-icon {
  width: 67px;
  height: 67px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7ff;
  margin-bottom: 26px;
  transition: all 0.2s linear;
}
.service-icon img {
  transition: all 0.2s linear;
}
.service-title {
  margin-bottom: 19px;
}
@media screen and (max-width: 1023px) {
  .service {
    padding-bottom: 50px;
  }
  .service-header {
    margin-bottom: 33px;
  }
  .service-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 20px;
    padding: 20px;
    grid-template-columns: unset;
    margin-left: -20px;
  }
  .service-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .service-list > * {
    scroll-snap-align: start;
    padding: 20px 20px 45px;
  }
}

.who {
  padding-bottom: var(--section-spacing);
}
.who-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 87px;
}
.who-image {
  width: 100%;
  max-width: 600px;
}
.who-content {
  flex: 1;
}
.who .global-heading {
  max-width: 422px;
}
.who .global-caption,
.who .global-heading {
  margin-bottom: 25px;
}
.who .global-text {
  margin-bottom: 37px;
}
@media screen and (max-width: 1023px) {
  .who-container {
    gap: 30px;
    flex-direction: column;
  }
  .who-image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mission {
  padding: 117px 20px 89px;
  background: #f4f8fd;
  margin-bottom: var(--section-spacing);
}
.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
.mission-content {
  max-width: 502px;
  width: 100%;
}
.mission .global-heading {
  max-width: 443px;
  margin-bottom: 25px;
}
.mission .global-caption {
  margin-bottom: 18px;
}
.mission .global-text {
  margin-bottom: 34px;
}
@media screen and (max-width: 1023px) {
  .mission {
    padding: 70px 0;
  }
  .mission-container {
    flex-direction: column;
    gap: 30px;
  }
  .mission-content {
    max-width: 100%;
  }
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--section-spacing);
}
.review-content {
  width: 100%;
  max-width: 400px;
}
.review-number {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #7f8ea1;
}
.review-count {
  font-weight: 600;
  font-size: 25px;
  color: #f4a11a;
}
.review-list {
  width: 100%;
  max-width: 523px;
  grid-gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  padding-left: 40px;
}
.review-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 55px rgba(155, 162, 173, 0.17);
  border-radius: 10px;
  padding: 25px;
  position: relative;
}
.review-card + .review-card {
  margin-top: 20px;
}
.review-rating {
  display: flex;
  align-items: center;
  gap: 0 3px;
  font-size: 8px;
  color: black;
  position: absolute;
  right: 25px;
  top: 25px;
}
.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  margin-bottom: 7px;
}
.review-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-name {
  color: #051441;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
}
.review-job {
  font-weight: 500;
  font-size: 7px;
  color: #6b7d92;
  display: block;
  margin-bottom: 8px;
}
.review-desc {
  font-size: 10px;
  line-height: 14px;
  color: #79899d;
  margin-bottom: 24px;
}
.review-quote img {
  margin-left: auto;
}
.review .global-caption {
  margin-bottom: 11px;
}
.review .global-heading {
  margin-bottom: 25px;
}
.review .global-text {
  margin-bottom: 20px;
}
.review-bg {
  position: absolute;
}
@media screen and (max-width: 1023px) {
  .review-container {
    flex-direction: column;
    gap: 35px;
  }
  .review-content {
    max-width: 100%;
  }
  .review-list {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .review-list {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .review-bg {
    display: none;
  }
}

.blog {
  margin-bottom: var(--section-spacing);
}
.blog-header {
  text-align: center;
  margin-bottom: 78px;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
}
.blog-item {
  border-radius: 17px;
  transition: all 0.2s linear;
}
.blog-item:hover {
  background: #ffffff;
  box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
}
.blog-item:hover .blog-title {
  color: #f4a11a;
}
.blog-content {
  padding: 33px 23px;
}
.blog-image {
  height: 322px;
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}
.blog-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #051441;
  margin-bottom: 9px;
  transition: all 0.2s linear;
}
.blog-desc {
  font-size: 13px;
  line-height: 20px;
  color: #7f8ea1;
}
.blog .global-heading {
  max-width: 454px;
  margin: 0 auto 25px;
}
@media screen and (max-width: 1023px) {
  .blog-header {
    margin-bottom: 35px;
  }
  .blog-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 20px;
    padding: 20px;
    margin-left: -20px;
    grid-template-columns: unset;
  }
  .blog-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .blog-list > * {
    scroll-snap-align: start;
  }
}

.subscribe {
  margin-bottom: var(--section-spacing);
}
.subscribe-container {
  padding: 77px 20px 116px;
  background-color: #f4f6fd;
  border-radius: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 796px;
}
.subscribe-content {
  width: 100%;
  max-width: 404px;
}
.subscribe-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 25px;
  color: #051441;
}
.subscribe-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #787e86;
  opacity: 0.8;
  max-width: 338px;
}
.subscribe-form {
  background: #ffffff;
  border-radius: 26.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 373px;
}
.subscribe-field {
  flex: 1;
}
.subscribe-input {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #051441;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .subscribe-heading {
    font-size: 30px;
    line-height: 1.5;
  }
  .subscribe-container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-main {
    flex-direction: column;
    gap: 35px;
    align-items: stretch;
  }
  .subscribe-content {
    text-align: center;
  }
  .subscribe-form {
    max-width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
