.experience {
  padding-bottom: 200px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 70px;
  }
  &-year {
    position: relative;
    z-index: 2;
    background: url("../images/img7.png") no-repeat 50%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
  &-number {
    font-size: 400px;
    font-weight: 800;
    color: $primary-color;
    position: relative;
    flex: 1;
    text-align: center;
  }
  &-dots {
    position: absolute;
    right: -20px;
    top: 50%;
  }
  &-content {
    max-width: 470px;
    margin-left: auto;
    flex-shrink: 0;
  }
  display: block;
  @include maxWidth(1599px) {
    padding-bottom: 100px;
  }
  @include maxWidth(1023px) {
    &-main {
      flex-direction: column;
      gap: 40px 0;
    }
    &-number {
      font-size: 200px;
    }
    &-content {
      max-width: 600px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      z-index: 5;
    }
  }
}
