.feature {
  margin-bottom: 266px;
  position: relative;
  &-dots {
    right: 0;
    top: 50%;
    transform: translate(25%, -50%);
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
  }
  &-item + .feature-item {
    margin-top: 230px;
  }
  &-content {
    max-width: 420px;
    width: 100%;
  }

  &-desc {
    margin-bottom: 37px;
  }
  @media screen and (min-width: 1024px) {
    &-image {
      transform: translateX(-56px);
    }
    &-item:nth-child(even) {
      flex-direction: row-reverse;
      .feature-heading {
        max-width: 254px;
      }
      .feature-image {
        transform: translateX(28px);
      }
      .feature-content {
        padding-left: 90px;
        max-width: 510px;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 100px;
    &-item + .feature-item {
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    &-item {
      flex-direction: column;
    }
  }
}
