.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
  &-link {
    color: inherit;
    font-size: 18px;
    transition: all 0.2s linear;
    font-weight: 400;
  }
  &-link:hover {
    color: $black;
    font-weight: bold;
  }
  &-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  &-close {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
    z-index: 10;
    &.is-active {
      display: inline-block;
    }
  }
  &-bg {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    background-color: $primary-color;
    position: fixed;
    right: 15px;
    z-index: 0;
    transform: scale(0);
    transition: all 0.5s ease;
    &.is-active {
      transform: scale(100);
    }
  }
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    flex-direction: column;
    padding-top: 100px;
    transition: all 0.2s linear;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
    &.is-active .menu-item {
      animation: slideLeft 1s ease forwards 1;
      animation-delay: -0.5s;
      &:nth-child(2) {
        animation-delay: -0.4s;
      }
      &:nth-child(3) {
        animation-delay: -0.3s;
      }
      &:nth-child(4) {
        animation-delay: -0.2s;
      }
      &:nth-child(5) {
        animation-delay: -0.1s;
      }
    }
    &-item {
      width: 100%;
      transition: all 0.2s linear;
      transform: translateX(-100%);
    }
    &-link {
      display: block;
      padding: 15px 25px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 20px;
    }
    &-toggle {
      display: inline-block;
    }
  }
}
@keyframes slideLeft {
  to {
    transform: translate(0, 0);
  }
}
