$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$gray-dark: #282f3a;
$gray-darker: #252b36;
$blue-color: #4944f2;
$gray-lighter: #f7f8f9;
