.toggle {
  margin-left: auto;
  display: none;
}
.navigation {
  padding: 30px 20px 40px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.auth {
  display: flex;
  gap: 0 13px;
  margin-left: 100px;
}
.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 38px;
  list-style: none;
  &-link {
    color: inherit;
    position: relative;
    transition: all 0.2s linear;
    display: block;
    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      background-color: $primary-color;
      width: 0;
      transition: all 0.2s linear;
    }
    &:hover {
      color: $primary-color;
    }
    &:hover:before {
      width: 100%;
    }
  }
}
.header {
  padding-bottom: var(--section-spacing);
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 38px;
    position: relative;
  }
  &-content {
    width: 100%;
  }
  &-heading {
    margin: 18px 0 25px;
  }
  &-desc {
    margin-bottom: 50px;
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 0 36px;
  }
}
.watch {
  &-video {
    display: flex;
    align-items: center;
    gap: 0 36px;
    color: $gray-dark;
    font-weight: 500;
  }
  &-icon {
    width: 59px;
    height: 59px;
    border-radius: 100rem;
    background-color: white;
    box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header-image {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1024px) {
  .header {
    &-content {
      max-width: 496px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .auth {
    padding-left: 15px;
    margin-left: 0;
    margin-top: 25px;
  }
  .menu {
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99999;
    align-items: stretch;
    transition: all 0.2s linear;
    transform: translateX(100%);
    &.is-show {
      transform: translateX(0);
    }
    &-link {
      padding: 15px;
    }
  }
  .header {
    &-main {
      flex-direction: column;
    }
  }
  .toggle {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header {
    &-heading {
      font-size: 35px;
    }
    &-actions {
      flex-direction: column;
      gap: 30px;
    }
  }
}
