.subscribe {
  margin-bottom: var(--section-spacing);
  &-container {
    padding: 77px 20px 116px;
    background-color: $gray-lighter;
    border-radius: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 796px;
  }
  &-content {
    width: 100%;
    max-width: 404px;
  }
  &-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 25px;
    color: $gray-dark;
  }
  &-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #787e86;
    opacity: 0.8;
    max-width: 338px;
  }
  &-form {
    background: #ffffff;
    border-radius: 26.5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 373px;
  }
  &-field {
    flex: 1;
  }
  &-input {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: $gray-dark;
    outline: none;
    border: 0;
    background-color: transparent;
    width: 100%;
  }
  @media screen and (max-width: 1023px) {
    &-heading {
      font-size: 30px;
      line-height: 1.5;
    }
    &-container {
      padding-top: 35px;
      padding-bottom: 35px;
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    &-main {
      flex-direction: column;
      gap: 35px;
      align-items: stretch;
    }
    &-content {
      text-align: center;
    }
    &-form {
      max-width: 100%;
    }
  }
}
