.service {
  padding-bottom: 70px;
  &-header {
    text-align: center;
    margin-bottom: 73px;
  }
  &-caption {
    margin-bottom: 25px;
  }
  &-heading {
    max-width: 426px;
    margin: 0 auto 32px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 33px;
  }
  &-item {
    border: 2px solid #edeff7;
    border-radius: 13px;
    padding: 40px 45px 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
      border-color: transparent;
    }
    &:hover .service-icon {
      background-color: $secondary-color;
      img {
        filter: brightness(10);
      }
    }
  }
  &-icon {
    width: 67px;
    height: 67px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7ff;
    margin-bottom: 26px;
    transition: all 0.2s linear;
    img {
      transition: all 0.2s linear;
    }
  }
  &-title {
    margin-bottom: 19px;
  }
  @media screen and (max-width: 1023px) {
    padding-bottom: 50px;
    &-header {
      margin-bottom: 33px;
    }
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 20px;
      padding: 20px;
      grid-template-columns: unset;
      margin-left: -20px;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
      padding: 20px 20px 45px;
    }
  }
}
