$gray: #635f85;
$gray-light: #e7e7e7;
$gray-lighter: #f4f6fd;
$gray-dark: #051441;
$gray-blur: #7f8ea1;
$gray-blur-dark: #6b7d92;
$primary-color: #ff7d00;
$secondary-color: #5a73e5;
$third-color: #f4a11a;
:root {
  --section-spacing: 140px;
  @media screen and (max-width: 1279px) {
    --section-spacing: 70px;
  }
  @media screen and (max-width: 767px) {
    --section-spacing: 50px;
  }
}
