.countdown {
  background-color: var(--primary-yellow);
  padding: 70px 0;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
  }
  &__title {
    color: var(--gray1e);
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 22px;
    line-height: calc(55 / 44);
  }
  &__text {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}
