block mixins
  include ./views/mixins
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(href="./css/app.css" rel="stylesheet")
    title Beyond.

  body
    .wrapper
      include ./views/header
      main
        include ./views/brand
        include ./views/service
        include ./views/who
        include ./views/mission
        include ./views/review
        include ./views/blog
        include ./views/newsletter
    script(src="./app.js")