.guide {
  margin-bottom: 250px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 80px;
  }
  &-content {
    width: 100%;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 33px;
  }
  @media screen and (min-width: 1024px) {
    &-image {
      padding-right: 40px;
    }
    &-content {
      max-width: 450px;
      padding-left: 50px;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 75px;
    &-main {
      flex-direction: column;
      gap: 50px 0;
    }
  }
}
