$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", serif;
$third-font: "Mulish", sans-serif;
$gray: #b8becd;
$gray-dark: #afb0b9;
$gray-darker: #7d7987;
$gray-darkest: #202336;
$primary-color: #fb8f1d;
$gray-blur: #80918e;
$gray-lighter: #f9f9fb;
