$primary-color: #2f327d;
$secondary-color: #f48c06;
$third-color: #65daff;
$gray: #696984;
$gray-light: #6c6c6c;
$gray-dark: #464646;
$gray-darker: #252641;
$purple: #5b72ee;
$yellow: #fff2e1;
$blue: #29b9e7;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$wrapper: 1920px;
