.logos {
  padding-bottom: 120px;
  &-heading {
    color: black;
    text-align: center;
    margin-bottom: 80px;
  }
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 767.98px) {
    padding-bottom: 80px;
    &-heading {
      margin-bottom: 40px;
    }
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
