// colors
$primary-color: #4f77ff;
$bg: #f7f5f1;
$bg-gray: #292f3a;
$text: #7b88a8;
$text-heading: #2d3958;
$text-black: #120f1f;
$yellow: #f9c45c;
// fonts
$font-primary: "DM Sans", sans-serif;
$secondary-font: "Outfit";
