include ./views/mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pollock Landing Page
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=DM+Sans&family=Outfit:wght@400;500;600&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="./styles/app.css")
  body
    .wrapper
      include ./views/header
      main
        include ./views/services
        include ./views/logos
        include ./views/about
        include ./views/portfolio
        include ./views/cta
      include ./views/footer