section.brand
  .brand-item
    img(src="./images/brand-google.svg")
  .brand-item
    img(src="./images/brand-google.svg")
  .brand-item
    img(src="./images/brand-google.svg")
  .brand-item
    img(src="./images/brand-google.svg")
  .brand-item
    img(src="./images/brand-google.svg")