header.header
  .navigation
    img(srcset="./images/logo.png 2x" class="header-logo")
    include ./menu
    span.toggle Menu
  .header-main.container
    .header-content
      span.global-caption AWARD WINNING COMPANY
      h1.global-heading.global-heading--huge.header-heading We Are The Best Digital Markeing
      p.global-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions.
      .header-actions
        a.button.button--primary(href="#!") Get Started
        a.watch-video(href="#!")
          .watch-icon
            img(srcset="./images/icon-play.png 2x")
          span Watch Video
    .header-image
      img(srcset="./images/img-header.png 2x")
