ul.menu
  li.menu-item
    a.menu-link(href="#!") Home
  li.menu-item
    a.menu-link(href="#!") Why us?
  li.menu-item
    a.menu-link(href="#!") Features
  li.menu-item
    a.menu-link(href="#!") Pricing
  li.menu-item
    a.menu-link(href="#!") Contact
  li.auth
      a.button.button--secondary.auth-login(href="#!") Login
      a.button.button--primary.auth-signup(href="#!") Signup




