section.subscribe
  .container.subscribe-container
    .subscribe-main
      .subscribe-content
        h2.global-haeding.subscribe-heading Sign up to Our Newsletter
        p.global-text.subscribe-desc You need to get positive results when you spend hard earned revenue and time.
      .subscribe-form
        .subscribe-field
          input.subscribe-input(type="text" placeholder="Email...")
        button.button.button--primary Subscribe