section.review
  .container
    .review-container
      .review-list
        img.review-bg(srcset="./images/review-bg.png 2x")
        div
          +reviewCard("./images/review-user1.png 2x", "Mark Parker", "CEO of Fiverr", "Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. ", 4.5)
          +reviewCard("./images/review-user1.png 2x", "Mark Parker", "CEO of Fiverr", "Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. ", 4.5)
        div
          +reviewCard("./images/review-user1.png 2x", "Mark Parker", "CEO of Fiverr", "Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. ", 4.5)
      .review-content
        span.global-caption TESTMONIALS
        h2.global-heading.global-heading--big Client’s Fedback
        p.global-text Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci
        .review-number
          .review-check
            img(srcset="./images/icon-check.png 2x")
          span.review-count 450+
          span Client"s Feedback
        a.button.button--primary(href="#!") Get In Touch