section.service
  .container
    .service-header
      span.global-caption.service-caption WHAT WE DO
      h2.global-heading.global-heading--big.service-heading Grow Your Business With Ringo
      p.global-text.service-desc tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.
    .service-list
      +serviceItem("./images/icon-search.svg", "Search Engine", "Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow ")
      +serviceItem("./images/icon-search.svg", "Email Marketing", "Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow ")
      +serviceItem("./images/icon-search.svg", "Media Marketing", "Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow ")