section.who
  .container
    .who-container
      .who-image
        img(srcset="./images/img-who.png 2x")
      .who-content
        span.global-caption WHO WE ARE
        h2.global-heading.global-heading--big Top #1 Marketing Agency in the World
        p.global-text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis.
        a.button.button--primary(href="#!") Get In Touch