section.cta
  img.cta-shapes(srcSet="/images/bg-shapes2.png 2x", alt="shapes")
  .container
    h2.heading.heading--big.cta-heading We design & develop transformative user experiences from Silicon Valley
    p.text.cta-caption Are you ready to start your project? Contact us today and get started!
    a.button.cta-button(href="#") Get Started