footer.footer
  .container
    .footer-top
      .footer-column
        +logo
      .footer-column
        h3.footer-heading Company
        ul.footer-links
          each link in ["About","Work","Career","Contact","Blog"]
            li.footer-link-item
              a(href="#").footer-link.text--xsmall= link
      .footer-column
        h3.footer-heading Company
        ul.footer-links
          each link in ["About","Work","Career","Contact","Blog"]
            li.footer-link-item
              a(href="#").footer-link.text--xsmall= link
      .footer-column
        h3.footer-heading Company
        ul.footer-links
          each link in ["About","Work","Career","Contact","Blog"]
            li.footer-link-item
              a(href="#").footer-link.text--xsmall= link
      .footer-column
        h3.footer-heading Newsletter
        p.newsletter-desc.text--small Subscribe to our newsletter to keep up to date on our marketing, website, design services, and tips.
        form.newsletter-form(action="")
          input.newsletter-input(type="text", placeholder="Enter email")
          button.button.newsletter-button Submit
        p.newsletter-warning.text--xsmall We hate spam as much as you do. We will never, ever send you such emails.
    .footer-bottom
      p.text--small © 2022 Pollock LLC. All Rights Reserved. Terms & Conditions. Privacy Policy.
      .footer-s
        each s in [1,2,3]
          .footer-s-item