section.portfolio
  .container
    h2.heading.heading--large.portfolio-heading Explore our recent client success stories and witness our full 360 transformations come to life
    .portfolio-list
      each p in [{title:"UX/UI Design",image:"/images/p-1.png 2x"},{title:"UX/UI Design",image:"/images/p-2.png 2x"},{title:"UX/UI Design",image:"/images/p-3.png 2x"},{title:"UX/UI Design",image:"/images/p-4.png 2x"}]
        a.portfolio-item(href="#")
          .portfolio-image
            img(srcSet= p.image, alt="")
          h4.portfolio-title= p.title
