section.services#services
  .container
    h2.services-heading.heading.heading--bigger We design engaging digital products used by millions of people
    p.services-caption We team up with marketing departments of large companies and startups to deliver award‑winning websites
    ul.services-list
      each val in [1,2,3]
        li.services-item
          img.services-icon(src="/images/icon-rocket.svg")
          h3.services-title Branding
          p.services-desc We design digital platforms to empower users and your brand's tribe.
    a.services-link(href="#").button View Our Services